body {
	overflow-x: hidden;
}
.subnav {
	font-size: 60px;
	margin-top: 0px;
	font-weight: 600;
	transition: .3s;
	color: #424242;
}
.subnav .tekst1 {
	display: block;
	background-color: #F5F5F5;
	text-align: center;
}
.subnav .inh1bg {
	width: 100vw;
	height: 100vh;
	background-color: #FAFAFA;
}

.subnav .tekst2 {
	display: block;
	background-color: #F5F5F5;
	text-align: center
}
.subnav .inh2bg {
	
	width: 100vw;
	height: 75vh;
	background-color: #FAFAFA;
}


/*foto's*/

.RGOQuote {
	position: absolute;
	margin-top: 150px;
	margin-left: 120px;
	opacity: .7;
	transition: .3s;
}


.RGOlogo  {
	padding: 0;
	margin: 0px 0 -30px 850px;
	transform: scale(0.8);
	transition: .3s;
}


.GLRLogo {
	margin: 70px 70px 70px 150px;
	transform: scale(2);
	transform: rotate(-5deg);
	transition: .3s;
}
.GLRQuote {
	position: absolute;
	margin-left: 400px;
	margin-top: 100px;
	transform: scale(1.2);
	transition: .3s;
}





@media screen and (max-width: 700px) {
	.RGOQuote{
		margin-top: 80px;
		margin-left: -20px;
		transform: scale(.5);
		transition: .3s;
	}
	.RGOlogo {
		margin-top: 80px;
		margin-left: -254px;
		transform: scale(0.28);
		transition: .3s;
	}
	
	.GLRLogo{
		transform: scale(.65);
		transform: rotate(-5deg);
		margin-top: 20px;
		padding-bottom: 100px;
		transition: .3s;
	}
	.GLRQuote {
		margin-top: -170px;
		margin-left: 20px;
		transform: scale(.6);
		transition: .3s;
		
	}
}




@media screen and (max-width: 1080px) {
	.topnav a:not(:nth-child(2)) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		transition: .3s;
  }
	.topnav a {
		padding: 15px 40px;
		transition: .3s;
	}
}

@media screen and (max-width: 1080px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		transition: .3s;
  }
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		transition: .3s;
  }
}