/*Voor Desktop*/
*{
	box-sizing: border-box;
}
body {
	overflow: hidden;
	font-family: 'Staatliches', cursive;
}

video {
	background-size: cover;
	top: 10%;
	opacity: 1;
	width:100%;
    position:absolute;
	justify-content: center;
	background-color: white;
}



@keyframes effect {
	0% {
		ransition: .7s;
		opacity: .5;
	}
	100% {
		transform: scale(2);
		
		transition: .7s;
		opacity: 0;
	}
}