* {
  margin: 0;
  padding: 0;
}
/*Voor Desktop*/
body {
  font-family: 'Thasadith', sans-serif;
}
nav {
	margin-left: 98px;
}
.Icon-Nav img{
	float: left;
	position: fixed;
	position: -webkit-sticky;
	height: 70px;
	padding: 15px 30px;
	background-color: #ff8d00;
	list-style-image: none;
	opacity: 1;
	transition: .3s;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	
}
.Icon-Nav {
	display: inline-block;
	position: fixed;
	margin-left: -98px;
}

.Icon-Nav img:hover{
	height: 70px;
	padding: 55px 30px;
	background-color: #E57700;
	list-style-image: none;
	opacity: 1;
	transition: .3s;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.Main-nav {
	width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
  background-color: #ff8d00;
	position: sticky;
}

li {
	display: inline-block;
  	float: left;
}
li:last-child{
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 100px;
  text-decoration: none;
  font-size: 20px;
  transition: .5s;
}
li a:hover:not(.active) {
  background-color: #e57700;
  transition: .5s;
}
/*Sub nav*/

 ul .sub {
	background-color: #F57C00;
	align-content:center;
	 border-right: 20px;
}
/*actief*/
.active {
  background-color: #F57C00;
  color: white;
}
.active-wit {
  background-color: white;
  color: #c96900;
}
.active-wit:hover {
  background-color: white;
  color: white;
}
/*over*/
.right {
  background-color: #c95900;
  border-right: 12px solid #ff8d00;
  padding: 10px 20px;
  margin: 14px 0 0;
}

/*Voor Mobiel*/
