/*sociaal media*/
.fa-twitter {
	position: fixed;
	margin-left: 10px;
	margin-top: 110px;
	display: block;
	float: left;
	font-size: 80px;
	color: #D4D4D4;
	transition: .3s;
}
.fa-youtube {
	position: fixed;
	margin-left: 10px;
	margin-top: 210px;
	display: block;
	float: left;
	font-size: 70px;
	color: #D4D4D4;
	transition: .3s;
}
.fa-snapchat {
	position: fixed;
	margin-left: 15px;
	margin-top: 310px;
	display: block;
	float: left;
	font-size: 70px;
	color: #D4D4D4;
	transition: .3s;
}
.fa-instagram {
	position: fixed;
	margin-left: 20px;
	margin-top: 410px;
	display: block;
	float: left;
	font-size: 70px;
	color: #D4D4D4;
	transition: .3s;
}
.fa-facebook {
	position: fixed;
	margin-left: 20px;
	margin-top: 510px;
	display: block;
	float: left;
	font-size: 70px;
	color: #D4D4D4;
	transition: .3s;
}
.fa-at {
	position: fixed;
	margin-left: 15px;
	margin-top: 700px;
	display: block;
	float: left;
	font-size: 80px;
	color: #D4D4D4;
	transition: .3s;
}
/*hover*/
.fa-twitter:hover {
	margin-left: 10px;
	margin-top: 110px;
	display: block;
	float: left;
	font-size: 80px;
	color: #00aced;
	transition: .3s;
	transform: scale(0.9);
}
.fa-youtube:hover {
	margin-left: 10px;
	margin-top: 210px;
	display: block;
	float: left;
	font-size: 70px;
	color: #FF0004;
	transition: .3s;
	transform: scale(0.9);
}
.fa-snapchat:hover {
	margin-left: 15px;
	margin-top: 310px;
	display: block;
	float: left;
	font-size: 70px;
	color: #FFFC00;
	transition: .3s;
	transform: scale(0.9);
}
.fa-instagram:hover {
	margin-left: 20px;
	margin-top: 410px;
	display: block;
	float: left;
	font-size: 70px;
	color: #d6249f;
	transition: .3s;
	transform: scale(0.9);
}
.fa-facebook:hover {
	margin-left: 20px;
	margin-top: 510px;
	display: block;
	float: left;
	font-size: 70px;
	color: #3b5998;
	transition: .3s;
	transform: scale(0.9);
}
.fa-at:hover {
	margin-left: 15px;
	margin-top: 700px;
	display: block;
	float: left;
	font-size: 70px;
	color: #D44638;
	transition: .3s;
	transform: scale(0.97);
}