.Introtext {
	margin: 50px 0px 0 200px;
	font-size: 35px;
	font-weight: 400;
}
.mezelf {
	float: right;
	margin: 0px 0px 0 1300px;	
	position: fixed;
}
.InfoO{
	margin-top: 800px;
	position: absolute;
	background-color: #F0F0F0;
	width: 100%;
	height: 85vh;
	border-top: 15px solid #E9E9E9;
}

.hobby{
	list-style-type:none;
    margin: 0 0px 0 500px;
    padding: 0;
    text-align: center;
	background-color: #F0F0F0;
}

.Hbtn a {
	float:left;
	margin: 30px;
	padding: 12px;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 60px;
	transition: .3s;
	border-radius: 20px;
	background-color: #E4E4E4;
}

.Hbtn a:hover {
	transition: .3s;
	border-radius: 20px;
	transform: scale(1.08);
}

