.Intotext {
	position: absolute;
	font-size: 50px;
	font-weight: 900;
	margin-left: 20%;
	margin-top: 25px;
	
}


.InfoT{
	margin-top: 870px;
	position: absolute;
	background-color: #F0F0F0;
	width: 100%;
	height: 85vh;
	border-top: 15px solid #E9E9E9;
}
.Sub {
	list-style-type:none;
    margin: 0 0px 0 37%;
    padding: 0;
    text-align: center;
	background-color: #F0F0F0;
}
.Hbtn a {
	float:left;
	margin: 30px;
	padding: 12px;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 60px;
	transition: .3s;
	border-radius: 20px;
	background-color: #E4E4E4;
}