
/* Home */
#Menu-TextH {
    position: fixed;
    display: block;

    top: 200px;
    left: 30px;
    color: white;

    font-size: 60px;
    transition: .2s;
}
/* Opleidingen */
#Menu-TextO {
    position: fixed;
    display: block;

    top: 210px;
    left: 5px;
    color: white;

    font-size: 37px;
    transition: .2s;

    cursor: pointer;
}
#Menu-TextO:hover {
    text-decoration: underline;
}
/* Toekomst */
#Menu-TextT {
    position: fixed;
    display: block;

    top: 200px;
    left: 8px;
    color: white;

    font-size: 45px;
    transition: .2s;
}

/* Portfolio */
#Menu-TextP {
    position: fixed;
    display: block;

    top: 200px;
    left: 10px;
    color: white;

    font-size: 50px;
    transition: .2s;

    cursor: pointer;
}
#Menu-TextP:hover {
    text-decoration: underline;
}
/* Over mij */
#Menu-TextOv {
    position: fixed;
    display: block;

    top: 200px;
    left: 12px;
    color: white;

    font-size: 50px;
    transition: .2s;
}