/* top navigatie categoriën */
#Por-Cat-Schl {
    position: absolute;
    top: 45px;
    left: 290px;

    color: white;
    font-size: 50px;
    transition: .4s;
}

#Por-Cat-Schl:hover {
    color: #c5c5c5;
    transition: .4s;
    cursor: pointer;
}
#Por-Schl-Spc {
    position: absolute;
    top: 45px;
    right: 50px;

    color: #c5c5c5;
    font-size: 50px;
    transition: .4s;
}
#Por-Cat-DigiK {
    position: absolute;
    top: 45px;
    left: 550px;

    color: white;
    font-size: 50px;
    transition: .4s;
}

#Por-Cat-DigiK:hover {
    color: #c5c5c5;
    transition: .4s;
    cursor: pointer;
}

#Por-Cat-WBont {
    position: absolute;
    top: 45px;
    left: 1010px;

    color: white;
    font-size: 50px;
    transition: .4s;
}

#Por-Cat-WBont:hover {
    color: #c5c5c5;
    transition: .4s;
    cursor: pointer;
}

/* inhoud */
#Por-Img-Dev {
    position: absolute;
    right: 0;
    bottom:  0px;
    height: auto;
    max-width: 40%;
}
#Header-Text {
    position: absolute;

    top: 200px;
    left: 300px;
}
#Under-Text1 {
    position: absolute;

    top: 350px;
    left: 300px;
    font-weight: 400;

}
#Under-Text2 {
    position: absolute;

    top: 420px;
    left: 300px;
    font-weight: 400;
}
/* School */
#BG-Vakn {
    height: 150px;
    width: 100%;
    background-color: #f0f0f0;
}
#Vak-DnP {
    position: absolute;
    left: 325px;
    top: 215px;
}
#Por-LogoSK {
    position: absolute;
    left: 350px;
    top: 350px;
    height: 200px;
    text-align: center;

    transition: .4s;
}
#Por-LogoSK:hover  {
    transform: scale(1.1);
    transition: .4s;
}
/* School d en p skills talent */
#BG-Vakn-sklls {
    height: 80px;
    width: 100%;
    background-color: #f0f0f0;
}
#Vak-DnP-sklls {
    position: absolute;
    left: 280px;
    top: 170px;
}
#Por-LogoSK-sklls {
    position: absolute;
    right: 50px;
    top: 250px;
    height: 200px;
    text-align: center;

    transition: .4s;
}
/* Inhoud SKills*/

#Sklls-Logo {
    position: absolute;

    top: 250px;
    right: 30px;
}
#Sklls-Banner {
    position: absolute;

    top: 270px;
    left: 500px;

    height: 650px;
}
#Sklls-Text-1 {
    position: absolute;
    left: 260px;
    bottom: -150px;
    padding: 30px;
}
#Sklls-Text-2 {
    position: absolute;
    left: 260px;
    bottom: -250px;
    padding: 30px;
}
#Sklls-Text-3 {
    position: absolute;
    left: 260px;
    bottom: -350px;
    padding: 30px;
}