body {
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
}

nav.black {
	background: rgba(0,0,0,0.4);
	height: 100px;
	padding: 10px 100px;
}
nav .logo {
	padding: 0px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}
nav.black .logo {
	color: #fff;
}
nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	float: left;
	list-style: none;
	position: relative;
}
nav ul li a {
	display: block;
	line-height: 80px;
	color: #151515;
	padding: 5px 35px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav ul li ul {
	display: none;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
	background-color: rgba(0,0,0,0.3);
	transition: .3s;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
nav ul li:hover ul {
	display: block;
	transition: .3s;
}
nav ul li ul li {
	
	width: 180px;
}
nav ul li ul li a {
	color: white;
	padding: 0px 0px 0px 15px;
	
}

nav ul li ul li a:hover {
	padding: 0px 0px 0px 15px;
	background-color: #ff8d00;
	border-radius: 6px;
	color: white;
}

nav.black ul li a {
	color: #fff;
}

img {
	width: 45px;
	transition: .3s;
}
nav.black ul li a:hover {
	color: #CF7300;
}

nav ul li a:focus {
	outline: none;
}

nav ul li a.active {
	background: #ff8d00;
	color: #fff;
	padding: 0 15px;
	border-radius: 6px;
	font-size: 24px;
	border-bottom-color: transparent;
}

nav ul li a:hover {
	color: #D97800;
}

.logo:hover{
	background-image: url("Bijlagen/Logo Icon Groen.png");
	widows: 45px;
}

/*Hoofd pagina*/
section.Home {
	
	margin: 150px 0px 0px 500px;
	padding: 0px 0px 0px 0px;
	width: 1200px;
	height: 75vh;
	background: url("Bijlagen/Artboard YT-100.jpg");
	background-size: cover;
	background-position: center;
	
	 
}
section.Toekomst {
	margin: 170px 0px 0px 800px;
	padding: 0px 0px 0px 0px;
	width: 500px;
	height: 50vh;
	background: url("https://www.studers.nl/image/Grafisch%20Lyceum%20Rotterdam.jpg");
	background-size: cover;
	background-position: center;
}
section.Opleiding {
	margin: 150px 0px 0px 510px;
	padding: 0px 0px 0px 00px;
	width: 1141px;
	height: 568px;
	background: url("Bijlagen/Rgologo.jpg");	
	background-size:cover;
	background-position: right;
	background-attachment: fixed;
}

section.Over {
	margin: 150px 0px 0px 900px;
	padding: 200px 0px 0px 0px;
	width: 30%;
	height: 55vh;
	background: url("Bijlagen/20180422_132502.jpg");
	background-size: cover;
	border-radius: 6px;
}

/*inhoud*/
.content {
	margin-top: 80px;
}
.hoofdtext {
    position: absolute;
    top: 180px;
    left: 100px;
	font-size: 55px;
}

.welkomtext{
    position: absolute;
    top: 270px;
    left: 100px;
	font-size: 30px;
	color: gray;
}
.content p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size: 20px;
	line-height: 30px;
	
}



.footer{
	position:fixed;
	clear: both;
	left: 0;
	bottom: 0px;
	width: 100%;
	background-color: #D97800;
	color:white;
	text-align: left;
	padding: 1rem;
}








