body {
	font-family: 'Thasadith', sans-serif;
}

/*foto*/
.Icon-Nav img{
	display: block;
	float: left;
	position: fixed;
	position: -webkit-sticky;
	height: 70px;
	padding: 30px 30px;
	background-color: #ff8d00;
	list-style-image: none;
	opacity: 1;
	transition: .3s;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.Icon-Nav img:hover{
	height: 70px;
	padding: 60px 30px;
	background-color: #E57700;
	list-style-image: none;
	opacity: 1;
	transition: .3s;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
/*navigatie*/
.topnav {
	overflow: hidden;
	background-color: #ff8d00;
	margin-left: 95px;
	transition: .3s;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	padding: 15px 60px;
	text-decoration: none;
	font-size: 20px;
	transition: .3s;
}

.topnav a:hover {
	background-color: #E57700;
	color: white;
	transition: .3s;
}

.topnav .active {
	cursor: context-menu;
	background-color: #C95900;
	color: white;
}
.topnav .right {
	background-color: #E57700;
	float: right;
	padding:  15px 33px;
}
.topnav .right:hover {
	background-color: #C95900;
	float: right;
	padding:  15px 33px;
}
.topnav .icon {
  display: none;
}


@media screen and (max-width: 500px) {
	.Icon-Nav {
		height: 150px;
		position: fixed;
		transition: .3s;
		color: aqua;
	}
	.topnav {
		transition: .3s;
	}
}

@media screen and (max-width: 1065px) {
	.right:not(:nth-child(2)){
		margin: 15px;
	}
}