
		/*desktop*/
/*Logo*/
.Intro-Logo {
	margin-top: -300px;
	margin-right: -150px;
	float: right;
	transform: scale(0.7);
	opacity: .9;
	transition: .3s;
}
#Introtext {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 600;
	margin: 100px 0 0 200px;
	transition: .3s; /*links aanpassen txt*/
	
}
.Introtext-Info {
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin: 10px 0 0 200px; /*links aanpassen txt*/
	text-align: left;
	color: #929292;
	transition: .3s;
}
.lijn1 {
	height: 7.5px;
	width: 450px;
	background-color: #0E0E0E;
	margin-left: 200px; /*links aanpassen txt*/
	top: 500px;
	transition: .3s;
}

/*mobile*/

@media screen and (max-width: 1060px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		transition: .3s;
  }
	.topnav a {
		padding: 15px 40px;
		transition: .3s;
	}
}

@media screen and (max-width: 1060px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		transition: .3s;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	transition: .3s;
  }
	
	
}



@media screen and (max-width: 1600px) {
	.Intro-Logo {
		margin-top: -250px;
		transform: scale(0.6);
		margin-right: -220px;
		transition: .6s;
		
	}
	.lijn1 {
		width: 370px;
		margin-left: 100px;
		transition: .3s;
	}
	
	#Introtext {
		font-size: 40px;
		margin-left: 100px;
		transition: .3s;
	}
	.Introtext-Info {
		font-size: 20px;
		margin-left: 100px;
		transition: .3s;
	}
	
}
@media screen and (max-width: 1200px) {
	.Intro-Logo {
		margin-top: -250px;
		transform: scale(0.27);
		margin-right: -440px;
		transition: .6s;
		
	}
	.lijn1 {
		width: 370px;
		margin-left: 35px;
		transition: .3s;
	}
	
	#Introtext {
		font-size: 40px;
		margin-left: 40px;
		transition: .3s;
	}
	.Introtext-Info {
		font-size: 20px;
		margin-left: 40px;
		transition: .3s;
	}
}
