.Intotext {
	font-family: 'Playfair Display', serif;
	justify-content: center;
	position: absolute;
	opacity: .1;
	font-size: 70px;
	margin-top: 50px;
	margin-left: 450px;
		transition: .3s;
	
}

@media screen and (max-width: 1080px) {
	.topnav a:not(:nth-child(3)) {display: none;}
	.topnav a.icon {
		float: right;
		display: block;
		transition: .3s;
  }
}

@media screen and (max-width: 1080px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
		transition: .3s;
  }
	.topnav a {
		padding: 15px 40px;
		transition: .3s;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		transition: .3s;
  }
	.Intotext {
		margin-top: 80px;
		font-size: 27px;
		margin-left: 50px;
		transition: .3s;
	}
}