* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 100%;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: white;
}

/*
#test{
	margin-top: 400px;
	margin-left: 50px;
	background-color: aqua;
	padding: 10px;
	margin-right: 1780px;
}
*/

